#### Loading Packages

In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt

#### Implementing Gradient Descent

In [ ]:
# 1. Calculate prediction


# 2. Find loss (maybe do cost instead?)


# 3. Determine gradient

In [7]:
  # def regression_classifier():

#### Read in & Clean Data
- will need to remove cabin and age columns
- some cells in embarked are null so won't need to remove all but can just remove those rows

In [15]:
training_data = pd.read_csv("./titanic-data/train.csv")

# Removing columns and rows will null data cells
training_data = training_data.drop(columns = 'Cabin')
training_data = training_data.dropna() # drops rows with na value

print(f"Cabin Column Dropped due to many null values:\n{training_data}")

Cabin Column Dropped due to many null values:
     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
885          886         0       3
886          887         0       2
887          888         1       1
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
885               Rice, Mrs. William (Margaret Norton)  female  39.0      0
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Embarked
0        0         A/5 21171   7.2500        S
1        0          PC 17599  71.2833        C
2        0  STON/O2. 3101282   7.9250        S
3        0            113803  53.1000        S
4        0            373450   8.0500        S
..     ...               ...      ...      ...
885      5            382652  29.1250        Q
886      0            211536  13.0000        S
887      0            112053  30.0000        S
889      0            111369  30.0000        C
890      0            370376   7.7500        Q

[712 rows x 11 columns]