#### Loading Packages

In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt

#### Implementing Gradient Descent

In [ ]:
# 1. Calculate prediction


# 2. Find loss (maybe do cost instead?)


# 3. Determine gradient

In [7]:
  # def regression_classifier():

#### Read in & Clean Data
- will need to remove cabin and age columns
- some cells in embarked are null so won't need to remove all but can just remove those rows

In [23]:
original_data = pd.read_csv("./titanic-data/train.csv")
print(f"Training data original shape: {original_data.shape}")

# Removing columns and rows will null data cells
training_data = original_data.drop(columns = 'Cabin') # removed whole column since majority were NA
training_data = training_data.dropna() # cleans out NA values spread out between columns by removing whole entire row

# print(f"Cabin Column Dropped due to many null values:\n{training_data}")
print(f"Training data shape after cleaning: {training_data.shape}")
print(f"Samples Removed: {original_data.shape[0] - training_data.shape[0]}")

Training data original shape: (891, 12)
Training data shape after cleaning: (712, 11)
Samples Removed: 179

#### One Hot Encoding

In [42]:
X = training_data.drop('Survived', axis = 1)
# removes columns that have no effect on outcome and help reduce dimensionality before training
X = X.drop(['PassengerId', 'Name', 'Ticket'], axis = 1)
print(f"Training data before one-hot encoding:\n\n{X.head()}")
target = training_data['Survived']

X = pd.get_dummies(X, columns=['Sex', 'Embarked'], dtype=int, drop_first = True)

# Sex_female and Embarked_C not included due to drop_first being set to True
print("\n\n")
print(f"Training data after one-hot encoding:\n\n{X.head()}")

Training data before one-hot encoding:

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       3    male  22.0      1      0   7.2500        S
1       1  female  38.0      1      0  71.2833        C
2       3  female  26.0      0      0   7.9250        S
3       1  female  35.0      1      0  53.1000        S
4       3    male  35.0      0      0   8.0500        S



Training data after one-hot encoding:

   Pclass   Age  SibSp  Parch     Fare  Sex_male  Embarked_Q  Embarked_S
0       3  22.0      1      0   7.2500         1           0           1
1       1  38.0      1      0  71.2833         0           0           0
2       3  26.0      0      0   7.9250         0           0           1
3       1  35.0      1      0  53.1000         0           0           1
4       3  35.0      0      0   8.0500         1           0           1